html, body {
  width: 400px;
  height: 350px;
}

label {
  min-width: 200px;
}

input, select {
  margin: 0.5em;
}

.item-group {
  margin: 1em;
  border: solid 1px black;
  width: 350px;
}

.item {
  margin: 0.5em;
}

#output {
  border: solid 1px black;
  width: 350px;
  height: 100px;
  padding: 0.5em;
}
